<!-- <h1 [ngStyle]="{
  'color': h1Style ? 'gray' : 'black'
}">Home</h1>

<button (click)="firstClick()">Click me</button> -->

<h1>

  <div ng-app="myApp" ng-controller="myCtrl">
    <select ng-model="selectedName" ng-options="x for x in names">{{x.car}}</select> 
  </div>

  <!-- <div class="grid-container">
    <div class="grid-item">
      <label for="Marke">Marke</label>
    </div>
    <div class="grid-item">
        <label for="Marke">Seriennummer</label>
    </div>
    <div class="grid-item">
        <label for="Marke">Typ</label>
    </div>
  </div> -->

</h1>